In [1]:
import ast
import warnings
import textwrap

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from tqdm.auto import tqdm

warnings.filterwarnings("ignore")

# For better visualizations
sns.set(style="ticks", palette="muted", color_codes=True)

plt.rcParams['axes.labelsize'] = 15
plt.rcParams['axes.titlesize'] = 20
plt.rcParams['font.weight'] = 'bold'

In [2]:
df=pd.read_csv("qatarairways_tweets_sentiments_with_keywords_topics.csv",
               parse_dates=['date'])

In [4]:
df.head(3)

,link,text,date,Likes,Comments,hashtags,users,cleaned_text,sntmnt_lbl,score,keybert_kw,yake_kw,keywords,topic_name
0,https://twitter.com/juliet_gough/status/174158...,It was fantastic service onboard. I'm so impre...,2023-12-31 22:23:00+00:00,0,0,[],juliet_gough,fantastic service onboard impressed thank,positive,0.989524,"onboard impressed,fantastic service,impressed ...","fantastic service,service onboard,onboard impr...","fantastic service,thank,fantastic,service onbo...",23_crew_amazing_excellent_comfortable
1,https://twitter.com/theamaeestales/status/1741...,@qrsupport is there a problem with your app? I...,2023-12-31 19:51:00+00:00,0,0,[],theamaeestales,problem app not login account,negative,0.781741,"not login,app not,problem app,problem,login ac...","problem app,login account,problem,account,app","app not,not login,account,problem app,problem,...",-1_customer_not_ticket_flight
2,https://twitter.com/rvvaradan/status/174143019...,I have reported the incident. Hoping to get a ...,2023-12-31 12:04:00+00:00,1,3,[],rvvaradan,report incident hope get resolution soon,neutral,0.689427,"resolution soon,get resolution,incident hope,r...","report incident,incident hope,report,incident,...","report,incident,incident hope,get resolution,r...",21_complaint_raise_formal_complain

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62195 entries, 0 to 62194
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   link          62195 non-null  object
 1   text          62195 non-null  object
 2   date          62195 non-null  datetime64[ns, UTC]
 3   Likes         62195 non-null  int64
 4   Comments      62195 non-null  int64
 5   hashtags      62195 non-null  object
 6   users         62195 non-null  object
 7   cleaned_text  62195 non-null  object
 8   sntmnt_lbl    62195 non-null  object
 9   score         62195 non-null  float64
 10  keybert_kw    62195 non-null  object
 11  yake_kw       62195 non-null  object
 12  keywords      62195 non-null  object
 13  topic_name    62195 non-null  object
dtypes: datetime64[ns, UTC](1), float64(1), int64(2), object(10)
memory usage: 6.6+ MB

In [11]:
(
    df.query("topic_name.str.contains(r'^0')")
    .loc[:, 'keywords']
    .str.split(",")
    .explode()
    .value_counts()
)

keywords
baggage allowance    190
luggage              189
bag                  186
baggage              159
check baggage        133
                    ...
standard appal         1
heaven help            1
face low               1
high standard          1
hold minute            1
Name: count, Length: 16272, dtype: int64